[include]
    path = .dotfiles/git/.gitconfig.local
[user]
    name = Mark Striemer
[alias]
    ci = commit
    st = status
    br = branch
    co = checkout
    di = diff
    dc = diff --cached
    aa = add --all
[color]
    ui = auto
[core]
    excludesfile = /Users/Mark/.gitignore
    editor = /usr/bin/vim
