[include]
    path = .dotfiles/git/.gitconfig.local
[user]
    name = Mark Striemer
[alias]
    ci = commit
    st = status
    br = branch
    co = checkout
    di = diff
    dc = diff --cached
    aa = add --all
[color]
    ui = auto
[core]
    excludesfile = ~/.gitignore
    editor = /usr/bin/vim
[url "https://github.com/"]
    insteadOf = "gh:"
[url "git@github.com:"]
    pushInsteadOf = "https://github.com/"
    pushInsteadOf = "http://github.com/"
    pushInsteadOf = "gh:"
[url "https://github.com/mstriemer/"]
    insteadOf = "ms:"
[url "git@github.com:mstriemer/"]
    pushInsteadOf = "https://github.com/mstriemer/"
    pushInsteadOf = "http://github.com/mstriemer/"
    pushInsteadOf = "ms:"
[url "https://github.com/mozilla/"]
    insteadOf = "moz:"
[url "git@github.com:mozilla/"]
    pushInsteadOf = "https://github.com/mozilla/"
    pushInsteadOf = "http://github.com/mozilla/"
    pushInsteadOf = "moz:"
[url "https://bitbucket.org/"]
    insteadOf = "bb:"
[url "git@bitbucket.org:"]
    pushInsteadOf = "https://bitbucket.org/"
    pushInsteadOf = "http://bitbucket.org/"
    pushInsteadOf = "bb:"
[url "git@bitbucket.org:mstriemer/"]
    pushInsteadOf = "https://bitbucket.org/mstriemer/"
    pushInsteadOf = "http://bitbucket.org/mstriemer/"
    pushInsteadOf = "bbms:"
    insteadOf = "bbms:"
[push]
    default = current
[diff]
    tool = vimdiff
[merge]
    tool = vimdiff
[mergetool "vimdiff"]
    cmd="vimdiff -d -c 'wincmd J'  $MERGED $LOCAL $BASE $REMOTE"
    keepbackup=false
